.handsontable{
  width:50vw;
  height:91vh;
  float:left;
  border:1px solid #ccc;
}
.export_button{
  display: inline-block;
  bottom: 7.5vh;
  width:50vw;
  height:5vh;
  background: #ccc;
  vertical-align:middle;
  text-align: center;
  line-height:5vh
}
.export_button :hover{
  cursor: pointer;
  background: #bbb;
}

.echarts{
  width:48vw;
  height:45vh;
  float:right;
  border:1px solid #ccc;
}
.settings{
  width:48vw;
  height:45vh;
  float:right;
  border:1px solid #ccc;
  margin-top:1vh;
}
